{% extends 'basestronablog.html' %}

{% block title %}{{ publication.name }}{% endblock %}
{% block heading %}{{ publication.name }}{% endblock %}

{% block content %}
<li class="card">
 <a href="{% url 'blogkulinarny' %}">Powrót do bloga</a>
 <h2>{{ publication.name }}</h2>
 <p>{{ publication.pdate }}</p>
 <p>autor: {{ publication.author.firstname }}</p>
 {% if publication.image %}
 <img src="{{ publication.image.url }}" alt="{{ publication.name }}">
 {% endif %}
 <p>{{ publication.content|safe }}</p>
 <p>lajków: {{ publication.like_count }}</p>

 {% if user.is_authenticated %}
   {% if publication.liked_by_current_user %}
     <form action="{% url 'remove_like' publication.id %}" method="post">
       {% csrf_token %}
       <button type="submit" class="btn">usunąc like</button>
     </form>
     <p>like ustwiony</p>
   {% else %}
     <form action="{% url 'add_like' publication.id %}" method="post">
       {% csrf_token %}
       <button type="submit" class="btn">like</button>
     </form>
     <p>like jeszcze nie ustawiony</p>
   {% endif %}

  <form action="{% url 'add_comment' publication.id %}" method="post">
    {% csrf_token %}
    <textarea name="text" required></textarea>
    <button type="submit" class="btn">dodać komentarz</button>
  </form>
 {% endif %}

 <h3>komentarze:</h3>
 <ul>
   {% for comment in publication.comments %}
   <li>
     <p>{{ comment.user.firstname }}: {{ comment.text }}</p>
   </li>
   {% endfor %}
 </ul>
</li>
{% endblock %}
